
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LoginModel

<section id="content">

    <div class="container">

        <div class="row">

            <div class="col-md-7">
                <div class="padding25">
                    <h4>LOGIN &nbsp;<i class="fas fa-key"></i></h4>
                </div>
                <div class="text-danger" asp-validation-summary="All"></div>
                <form asp-action="Login" asp-controller="Account" method="post">
                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <input asp-for="Email" class="form-control input-lg" placeholder="E-mail">
                        </div>
                        <div class="form-group col-xs-12">
                            <input asp-for="Password" class="form-control input-lg" placeholder="Password">
                        </div>
                        <div class="form-group col-xs-12 text-left">
                            <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-arrow-circle-o-right fa-fw"></i> LOGIN</button>
                            <a asp-action="Register" asp-controller="Account" class="btn btn-primary btn-lg"><i class="fa fa-paste fa-fw"></i> REGISTER</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-1">
                <span class="hidden">SPACE</span>
            </div>
            <div class="col-md-3 text-center">
                <div class="padding25">
                    <h4>Welcome to <b>Shopping World</b></h4>
                </div>
                <div class="padding25 d-flex justify-content-between align-items-center">
                    <i class="fas fa-globe fa-5x text-info"></i><i class="fas fa-shopping-cart fa-5x text-success"></i>
                </div>
                <div class="padding25 d-flex justify-content-between align-items-center">
                    <i class="fas fa-tshirt fa-5x text-danger"></i><i class="fas fa-gifts fa-5x text-warning"></i>
                </div>
            </div>
            <div class="col-md-1">
                <span class="hidden">SPACE</span>
            </div>
        </div>

    </div>



</section>

