
@{
    ViewData["Title"] = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row margin35">
        <div class="col-12 text-center margin35">
            <span><i class="fas fa-shopping-cart fa-5x"></i><i class="fas fa-check-double fa-5x"></i></span>
            <h2>Order is completed !</h2>
        </div>
    </div>
</div>


