<!DOCTYPE html>
<html lang="en">
<head>
    <!-- METAS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- TITLE -->
    <title>Shopping App</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
    <link href="~/AllFiles/style.css" rel="stylesheet" />
    <link href="~/AllFiles/styles/lunar.css" rel="stylesheet" />
    <link href="~/AllFiles/custom.css" rel="stylesheet" />
    <link href="~/AllFiles/demo/demo.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Zen+Kaku+Gothic+Antique&display=swap" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- WRAPPER START -->
    <div id="wrapper">
        <!-- HEADER START -->
        <section id="header">
            <!-- Fixed navbar -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">

                        <a class="navbar-brand" href="#">
                            <img src="~/images/shopping-logo.png" style="width:70px; height:50px" alt="ShoppingApp-img">
                        </a>

                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-fw"></i> Home</a></li>

                            <li><a asp-controller="Product" asp-action="List"><i class="fa fa-list fa-fw"></i> Products</a></li>

                            <li><a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart fa-fw"></i> Cart (@await Component.InvokeAsync("CartSummary") )</a></li>

                            @if (User.Identity.IsAuthenticated)
                            {
                            <li class="dropdown">

                                <a href="#" class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li><a class="dropdown-item" href="/Account/Logout">Logout</a></li>
                                </ul>
                            </li> 
                            }
                            else
                            {
                                <li><a href="/Account/Login"><i class="fa fa-user-md"></i> Login</a></li>
                            }
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </section>
        <!-- HEADER END -->
        <!-- PAGE TITLE START -->
        <section id="title" class="container-fluid wow fadeInDown">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <h1>Shopping</h1>
                    </div>

                </div>
            </div>
        </section>
        <!-- PAGE TITLE END -->
        <!-- CONTENT START -->
        <div style="min-height:80vh">
            @RenderBody()
        </div>

        <!-- CONTENT END -->
        <!-- FOOTER START -->
        <partial name="_PageFooter" />
        <!-- FOOTER END -->
    </div>
    <!-- WRAPPER END -->
    <!-- back to top button -->
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>



    <!-- MAIN JS FILES REQUIRED ON ALL PAGES -->
    <script src="~/js/bundle.js"></script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-81122143-3', 'auto');
        ga('send', 'pageview');

    </script>
    <script src="demo/demo.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/js/SlidingImages.js"></script>
</body>
</html>
