<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center bottom">
                <ul class="list-unstyled list-inline social-icons">
                    <li><a href="https://tr-tr.facebook.com/" class="facebook"><i class="fab fa-facebook facebook"></i></a></li>
                    <li><a href="https://twitter.com/?lang=tr" class="twitter"><i class="fab fa-twitter twitter"></i></a></li>
                    <li><a href="https://www.google.com/intl/tr/gmail/about/" class="googleplus"><i class="fab fa-google-plus googleplus"></i></a></li>
                    <li><a href="https://www.youtube.com/" class="youtube"><i class="fab fa-youtube youtube"></i></a></li>
                    <li><a href="https://www.linkedin.com/" class="linkedin"><i class="fab fa-linkedin linkedin"></i></a></li>
                </ul>
                <p>Copyright &copy; 2021 Serhat. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>