<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center bottom">
                <ul class="list-unstyled list-inline social-icons">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter twitter"></i></a></li>
                    <li><a href="#" class="googleplus"><i class="fa fa-google-plus googleplus"></i></a></li>
                    <li><a href="#" class="youtube"><i class="fa fa-youtube youtube"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="fa fa-linkedin linkedin"></i></a></li>
                </ul>
                <p>Copyright &copy; 2021 Serhat. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>